{{#if hotels}}
<div class="row mb-2">
  {{#each hotels}}
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">{{name}}</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="/hotels/profile/{{_id}}">{{name}}</a>
        </h3>
        <div class="mb-1 text-muted"></div>
        <p class="card-text mb-auto">{{category.name}}</p>
        <a href="/hotels/profile/{{_id}}">View</a>        
      </div>
      {{#if photo}}
      <img class="card-img-right flex-auto d-none d-md-block" src="/uploads/{{photo}}" data-src="/uploads/{{photo}}" alt="{{name}}">
      {{/if}}
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<div class="alert alert-info">There are currently no accommodations in this section.</div>
{{/if}}

