<div class="container bg-light p50">  
  {{#if errors}}
  <div class="alert alert-danger">
    {{#each errors}} {{msg}}. {{/each}}
  </div>
  {{/if}}

  <form id="registerForm" action="/hotels/profile/edit" method="POST" autocomplete="off">
    <div class="row">
      <div class="col-md-12">
        <h1>
          Edit Profile
        </h1>
        <p>You can edit your profile details here.</p>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Hotel Name</label>
          <input type="text" class="form-control" placeholder="name" name="name" value="{{hotel.name}}">
        </div>
        <div class="form-group">
          <label>Website</label>
          <input type="text" class="form-control" placeholder="Website" name="website" value="{{hotel.website}}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>County</label>
          <select name="county" class="form-control">
            <option value="" selected></option>
            {{#each counties}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label>Location Name</label>
          <input type="text" class="form-control" placeholder="Location name" name="locationName" value="{{hotel.locationName}}">
        </div>
        <div class="form-group">
          <label>Category</label>
          <select name="category" class="form-control">
            <option value="" selected></option>
            {{#each categories}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label>Stars</label>
          <select name="stars" class="form-control">            
            <option value="0">0</option>            
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-warning">Save</button>
        <a href="/hotels/profile/{{user._id}}" class="btn btn-secondary">Cancel</a>
      </div>
    </div>
      
  </form>
</div>
