{{#if rooms}}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <th scope="col">Room</th>
      <th scope="col">Price</th>
      <th scope="col" class="text-right">Operations</th>
    </thead>
    <tbody>
      {{#each rooms}}
      <tr id="row{{_id}}">
        <td>{{roomName}}</td>
        <td>{{roomPrice}}</td>
        <td class="text-right">
          <a href="/room_photos/{{_id}}" class="btn btn-primary" type="button">Photo</a>
          <a href="#" class="btn btn-warning" onclick="editRoomFunction('{{_id}}')" type="button" data-toggle="modal" data-target="#roomModal">Edit Room</a>
          <a href="#" class="btn btn-danger" onclick="deleteRoomFunction('{{_id}}')" type="button" data-toggle="modal" data-target="#roomModal">Delete</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
<div class="alert alert-warning">
  You have no rooms uploaded.
</div>
{{/if}}