<div class="container bg-light p50">
  {{#if errors}}
  <div class="alert alert-danger">
    {{#each errors}} {{msg}}. {{/each}}
  </div>
  {{/if}}

  
  <div class="row">
    <div class="col-md-12">
      <div class="float-right">
        <a href="/hotels/profile/{{room.hotel}}" class="btn btn-outline-primary">Back to Profile</a>
      </div>
      <h1>
        {{room.roomName}}
      </h1>
    </div>
    <div class="col-md-12">
      <p class="card-text mb-auto">Price: &euro; {{room.roomPrice}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      {{#if room.photo}}
      <img src="/uploads/{{room.photo}}" class="img-fluid">
      <div class="spacer-10"></div>
      
      {{else}}
      <div class="alert alert-info">Currently no photo available</div>
      {{/if}}

    </div>
  </div>

</div>